<!DOCTYPE html>
<html lang="en" ng-app="bookStoreApp">
<head>
    <meta charset="utf-8">
    <title>Bootstrap Metro Dashboard by Dennis Ji for ARM demo</title>
    <meta name="description" content="Bootstrap Metro Dashboard">
    <meta name="author" content="Dennis Ji">
    <meta name="keyword" content="Metro, Metro UI, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- start: CSS -->
    <link id="bootstrap-style" href="/stylesheets/css/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/css/bootstrap/bootstrap-responsive.min.css" rel="stylesheet">
    <link id="base-style" href="/stylesheets/css/style.css" rel="stylesheet">
    <link id="base-style-responsive" href="/stylesheets/css/style-responsive.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,cyrillic-ext,latin-ext' rel='stylesheet' type='text/css'>
    <!-- end: CSS -->

    <!-- start: Favicon -->
    <!--<link rel="shortcut icon" href="/img/favicon.ico">-->
    <!-- end: Favicon -->

</head>

<body>
<!--头部导航-->
<div ng-include="nav-top.html"></div>
<!--头部导航end-->

<div  class="container-fluid-full">
    Hello
</div>

<div ng-view></div>
<script type="text/javascript" src="/javascripts/3rd-lib/seajs/2.3.0/sea.js"></script>
<script type="text/javascript" src="/javascripts/3rd-lib/angular-js/1.2.5/angular.js"></script>
<script type="text/javascript" src="/javascripts/3rd-lib/angular-js/1.2.5/angular-route.min.js"></script>
<script type="text/javascript" src="/javascripts/3rd-lib/angular-js/1.2.5/angular-animate.min.js"></script>
<script type="text/javascript" src="/javascripts/test/index-manage.js"></script>
<!--<script type="text/javascript">-->
    <!--seajs.config({-->
        <!--base:'/javascripts',-->
        <!--alias:{-->
            <!--'jquery':'3rd-lib/jquery/1.9.1/jquery',-->
            <!--'angular':'3rd-lib/angular-js/1.2.5/angular',-->
            <!--'boostrap':'3rd-lib/boostrap-js/3.3.4/boostrap'-->
        <!--},-->
        <!--path:{-->
<!--//            '3rd-lib':''-->
        <!--}-->
    <!--});-->

    <!--require('angular');-->

    <!--seajs.use('test/app');-->
    <!--seajs.use('test/controller');-->
    <!--seajs.use('test/directives');-->
    <!--seajs.use('test/filters');-->
    <!--seajs.use('test/services');-->

<!--</script>-->
</body>