<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Bootstrap登录</title>
    <link rel="stylesheet" type="text/css" href="../../../public/stylesheets/css/font-awesome/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../../../public/stylesheets/css/bootstrap/3.3.4/bootstrap.min.css">
    <link rel="stylesheet/less" type="text/css" href="../../../public/stylesheets/less/testDemo/login.less">
    <script type="text/javascript" src="../../../public/javascripts/3rd-lib/less/less.min.js"></script>
    <script type="text/javascript" src="../../../public/javascripts/3rd-lib/seajs/dist/sea.js"></script>
</head>
<body class="login">
<div class="log"><img src="../../../public/images/logo-big.png"/> </div>
<div class="content">
   <form class="form-horizontal login-form">
       <h3 class="form-title">登录页面</h3>
       <div class="form-group">
           <label for="name" class="form-control hide">姓名</label>
           <div class="control">
               <i class="icon glyphicon-user"></i>
               <input type="text" name="name" class="input-row" placeholder="请输入账号">
           </div>
       </div>
   </form>
</div>

<script type="text/javascript">
    seajs.use('../../../config/default-vars');
    seajs.use('../../../public/javascripts/testDemo/login-manage');
</script>
</body>
</html>