.page-sidebar {
  display: block;
  width:225px;
  background: #3D3D3D;
}

.page-sidebar-menu{
  display: block;
  padding:0px;
  li{
    display: block;
    width: 100%;
    line-height: 20px;
    text-align: center;
    color: #fff;
    border-top:1px solid rgb(92, 92, 92);
    box-sizing: border-box;
    .sidebar-toggler{
      display: block;
      width:29px;
      height: 29px;
      margin-top: 15px;
      margin-left: 175px;
      background-image: url(../../../images/sidebar-toggler.jpg);
      background-color: #242424;
      cursor: pointer;
      opacity: 0.5;
    }
    .sidebar-search{
      margin:8px 20px 20px;
      .input-box{
        display: block;
        input{
          line-height: 20px;
          border: none;
          border-bottom: 1px solid #fff;
          background-color: #3d3d3d !important;
          color: #bfbfbf !important;
        }
        .submit{
          float:right;
          display: block;
          width: 13px;
          height: 13px;
          border: none;
        }
      }
    }
    a{
      display: inline-block;
      padding: 10px 15px;
    }

  }
}