<div class="row">
    <div class="span12">
        <!--customizer-->
        <div class="color-panel hidden-phone"></div>
        <!--标题-->
        <h3 class="page-title">
            Dashboard<small>statistics and more</small>
        </h3>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="index.html">Home</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href="#">Dashboard</a>
            </li>
            <li class="pull-right no-text-shadow">
                <div id="dashboard-report-range" class="dashboard-date-range tooltips no-tooltip-on-touch-device responsive" data-tablet="" data-desktop="tooltips" data-placement="top" data-original-title="Change dashboard date range">
                    <i class="icon-calendar"></i>
                    <span></span>
                    <i class="icon-angle-down"></i>
                </div>
            </li>
        </ul>
    </div>
</div>

<div id="dashboard">
    <div class="row">
        <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
            <div class="dashboard-stat blue">
                <div class="visual"><i class="icon-comments"></i></div>
                <div class="details">
                    <div class="number">1349</div>
                    <div class="desc">New Feedbacks</div>
                </div>
                <a class="more" href="#">
                    view more
                    <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="span3 responsive" data-tablet="span6" data-desktop="span3"></div>
        <div class="span3 responsive" data-tablet="span6 fix-offset" data-desktop="span3"></div>
        <div class="span3 responsive" data-tablet="span6" data-desktop="span3"></div>
    </div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
</div>